body {
  background: #f4f4f4;
}

.upload-box {
  /* some styles */
}

.upload-box.drag {
  position: relative;
  /* more styles */
}

.upload-box.drag:before {
  position: absolute;
  content: "Drop file to upload";
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  /* colors, etc. */
}
